'<div class="container">

  <div class="card">
    <div class="card-header">
      <h1>
        FizzBuzz Challenge!
      </h1>
    </div>

    <div class="card-body">

        <h2>
          Are you ready for today's FizzBuzz Maths Quiz??
        </h2>

        <h4>
          Today's challenge consists of quick-fire multiplication questions.
        </h4>
      </div>



    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success sidemargin" [routerLink]="['/arithmeticquiz']">Accept</button>
      <button class="btn btn-danger sidemargin" [routerLink]="['/logout']">Another time</button>
    </div>
</div>
