<div class="container page">

  <div class="row text-center">
    <div class="col-12">
      <h1 class="page-title">Quizdash Games</h1>
    </div>
  </div>

  <div class="row text-center top-buffer">
    <div class="col-12">
      <h4>Educational Gaming and Challenges!</h4>
    </div>
  </div>

  <div class="row top-buffer-x2">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-md-12">
      <span class="guide">Choose from one of the options below:</span>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row top-buffer">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 col-12">
      <div class="card-group">

        <div class="card sidemargin">
          <div class="card-header">
            <h4 class="card-title">Arithmetic Quiz</h4>
            <div>
              <a href="#" [routerLink]="'/arithmeticquiz'" >
                <img class="card-img thumbnail" src="/assets/images/blackboard-2026160.svg" height="140px" />
              </a>
            </div>

          </div>
          <div class="card-body small">
            <p>Try our quick-fire arithmetic challenge! Choose from different speeds and levels.</p>
            <p class="italic">Click the image above to start!...</p>
          </div>
        </div>

        <div class="card sidemargin">
          <div class="card-header">
            <h4 class="card-title">Fizz Buzz Boom!</h4>
            <div>
              <a href="#" [routerLink]="'/fizzbuzzboom/landing'" >
                <img class="card-img thumbnail" src="/assets/images/bomb-154456.svg" height="140px" />
              </a>
            </div>
          </div>
          <div class="card-body small">
            <p>Join or host our arithmetic team challenge.</p>
            <p class="italic">Click the image above to start!...</p>
          </div>
        </div>

        <!--
        <div class="card sidemargin">
          <div class="card-header">
            <h4 class="card-title text-muted">Subject Quizzes</h4>
            <div>
              <img class="card-img" src="/assets/images/question-mark-5976736.svg" height="140px" />
            </div>
          </div>
          <div class="card-body small text-muted">
            <p>Test your skills and knowledge against our selection of quizzes, coming soon...</p>
            <p class="italic">New feature coming soon...</p>
          </div>
        </div>
        -->
    </div>

    <div class="col-lg-2"></div>
  </div>

  </div>
</div>
