.user {
  font-size: 3rem;
  color: black;
  font-style: italic;
}

.targetuser {
  font-size: 3rem;
  color: red;
  font-style: italic;
}

.user-label {
  font-size: 1.5rem;
  color: black;
  font-style: italic;
}

.test-value {
  font-size: 6rem;
  margin-top: 0;
}

.answer {
  font-size: 1.5rem;
  color: green;
  font-style: italic;
}

.participant {
  color: darkblue;
  font-style: italic;
  font-size: 1.5rem;
}
