<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/rocket-1897776.svg" height="30px">&nbsp;&nbsp;QuizDash Games<sup>&#169;</sup>
  </a>


    <!-- Left links -->
    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!--
      <li class="nav-item dropdown">
        <a class="nav-link" dropdown-toggle  id="navbarDropdownGames"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">Games</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownGames">
          <a class="dropdown-item" [routerLink]="'/arithmeticquiz'" >Arithmetic Quiz</a>
          <a class="dropdown-item" [routerLink]="'/fizzbuzzboom/landing'">Fizz Buzz Boom</a>
        </div>
      </li>
      -->

      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>

    <div *ngIf="isLoggedIn()" class="my-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Host: {{userId}}</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>

    <!--right links -->
    <div *ngIf="!isLoggedIn()" class="sm-form my-0 mb-2 mb-lg-0">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/login">Login/Signup</a>
        </li>
      </ul>
    </div>


</nav>
